<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dbteam4.booksale.repository.ReviewMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="reviewId">
        insert into review (review_id, post_id, writer_id, seller_id,review_content, review_time, rating)
            VALUE (#{reviewId}, #{postId}, #{writerId}, #{sellerId},#{reviewContent}, #{reviewTime}, #{rating})
    </insert>

    <select id="findByPostId" resultType="ReviewDTO">
        select * from review where post_id = #{postId}
    </select>

    <select id="findBySellerId" resultType="ReviewDTO">
        select * from review where seller_id = #{sellerId}
    </select>

    <resultMap id="reviewResultMap" type="PostReviewDTO">
        <id property="reviewId" column="review_id" />
        <result property="postId" column="post_id" />
        <result property="writerId" column="writer_id" />
        <result property="sellerId" column="seller_id" />
        <result property="reviewContent" column="review_content" />
        <result property="reviewTime" column="review_time" />
        <result property="rating" column="rating" />
        <association property="post" javaType="Post">
            <id property="postId" column="post_id" />
            <result property="sellerId" column="seller_id" />
            <result property="postTitle" column="post_title" />
            <result property="postContent" column="post_content" />
            <result property="salesMethod" column="sales_method" />
            <result property="postPrice" column="post_price" />
            <result property="shippingMethod" column="shipping_method" />
            <result property="postStatus" column="post_status" />
            <result property="bookQuality" column="book_quality" />
            <result property="postTime" column="post_time" />
        </association>
        <association property="book" javaType="Book">
            <id property="ISBN" column="ISBN" />
            <result property="title" column="title" />
            <result property="author" column="author" />
            <result property="publisher" column="publisher" />
            <result property="pubDate" column="pub_date" />
            <result property="image" column="image" />
            <result property="discount" column="discount" />
            <result property="description" column="description" />
        </association>
    </resultMap>

    <select id="findByWriterId" resultMap="reviewResultMap">
        SELECT *
        FROM review r
        JOIN post p ON r.post_id = p.post_id
        JOIN book b ON p.book_ISBN = b.ISBN
        where writer_id = #{writeId}
    </select>

</mapper>