<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
</head>
<body>

<!-- 로그인/회원가입 bar -->
<div th:if="${session.loginUser == null}" th:insert="~{layout/fragment/header :: header}"></div>
<!-- 헤더 -->
<header th:replace="~{/layout/fragment/search-header :: search-header}"></header>


<main class="container search-main no-padding flex">
  <div class = "filter">
    <div class = filter-button><text>▼</text> 필터</div>
    <div class = "filter-list ">

      <form method="get" th:action="@{/search/{bookISBN} (bookISBN=${book.ISBN} ) }">
        <div class = "filter-item">판매가</div>
        <select class="form-select search-select" name="underPrice">
          <option selected value="">선택안함</option>
          <option value="10000">1만원 이하</option>
          <option value="20000">2만원 이하</option>
          <option value="30000">3만원 이하</option>
          <option value="40000">4만원 이하</option>
        </select>

        <div class = "filter-item">할인율</div>
        <select class="form-select search-select" name="discountRate">
          <option selected value="">선택안함</option>
          <option value="30">30% 이상</option>
          <option value="50">50% 이상</option>
          <option value="70">70% 이상</option>
        </select>

        <div class = "filter-item">거래상태</div>
        <input type="checkbox" id="checkbox1" name="onSale" value="true">
        <label for="checkbox1">판매중</label>
        <br>
        <input type="checkbox" id="checkbox2" name="reserved" value="true">
        <label for="checkbox2">예약중</label>
        <br>
        <input type="checkbox" id="checkbox3" name="sold" value="true">
        <label for="checkbox3">판매완료</label>


<!--        <div class = "filter-item">지역</div>-->
<!--        <input type="radio" id="option1" name="A-options" value="option1" checked>-->
<!--        <label for="option1">전체</label>-->
<!--        <br>-->
<!--        <input type="radio" id="option2" name="A-options" value="option2">-->
<!--        <label for="option2">우리학교</label>-->
<!--        <br>-->
<!--        <input type="radio" id="option3" name="A-options" value="option3">-->
<!--        <label for="option3">우리지역</label>-->


        <div class = "filter-item">거래방법</div>
        <input type="radio" id="option4" name="shippingMethod" value="전체" checked>
        <label for="option4">전체</label>
        <br>
        <input type="radio" id="option5" name="shippingMethod" value="직거래">
        <label for="option5">직거래</label>
        <br>
        <input type="radio" id="option6" name="shippingMethod" value="택배">
        <label for="option6">택배</label>

        <div><input type="submit" class="btn filter-search-button" value="검색"></div>
      </form>

    </div>
  </div>















  <div class ="container main-box">
    <div class = "content margin-top">

      <img class = "book-icon" src = "../img/ex.png" th:src="${book.image}">
      <div class = "content-info settings">
        <div th:text="${book.title}">창의적 숨쉬기</div>
        <span th:text="${book.author}">저자</span>
        <span th:text="${book.publisher}">출판사</span>
        <span th:text="|출판 년도 : ${book.pubDate}|">출판 년도</span>
        <div th:text="|책 정가 : ${book.discount}|">정가</div>
      </div>
      <th:block th:unless="${bookPostsDTO == null}">
        <div class="state" th:text="${bookPostsDTO.postList != null ? bookPostsDTO.postList.size() + '건' : '0건'}">2건</div>
      </th:block>
    </div>




    <div class ="container border main-box main-list">

      <!-- example -->
      <th:block th:unless="${bookPostsDTO == null}">

      <a href = "" th:each="post : ${bookPostsDTO.getPostList()}" th:href="@{/post/view/{postId}(postId=${post.postId})}">
        <div class = "content margin-top">

          <img class = "book-icon" src = "../img/ex.png" th:src="${bookPostsDTO.image}">
          <div class = "content-info settings">
            <div th:text="${post.postTitle}">게시글 제목 ex)책 팔아요</div>
            <span th:text="|/${post.salesMethod}/|">판매 or 물려주기</span>
            <span th:text="|${post.shippingMethod}/|">택배 or 직거래</span>
            <span th:text="|책상태 : ${post.bookQuality}/|">책 품질</span>
            <div th:text="|판매 가격 : ${post.postPrice}|">판매 가격</div>
          </div>
          <div class = "state" th:text="${post.postStatus}">판매중</div>
        </div>
      </a>
      </th:block>
    </div>
  </div>





</main>
<!-- 회원 사이드바 -->
<div th:if="${session.loginUser != null}"  th:insert="~{layout/fragment/login-sidebar :: login-sidebar}"></div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--JQUERY-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/chat.js"></script>
<script src="/js/filter.js"></script>
</body>
</html>
